.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.card button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.card button:hover {
  border-color: #646cff;
}

.card button:focus,
.card button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
